p {
	width: 500px;
	font-family: verdana;
	margin: 20px;
	padding: 10px;
	border: 1px solid blue;
	border-left-width: 10px;
	border-left-color: blue;
	background-color: lightgray;
}

#p2 {
	position: absolute;
	top: 500px;
	left: 500px;

}